{
    "presets": [
        "stage-0",
        [ "env", {
            "targets": {
                "browsers": [ ">5%" ]
            },
            "modules": false
        } ],
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy"
    ]
}
